<div> <span>PLAYER1: <%=@player1%></span>
      <span>PLAYER1 HIT POINTS: <%=@player1_hit_points%></span>
</div>
<div> <span> PLAYER2: <%=@player2%></span>
      <span> PLAYER2 HIT POINTS: <%=@player2_hit_points%></span>
 </div>
<form action='/attack' method='post'>
  <button type='submit'>Attack!</button>
</form>
